backupdir/
data-dev/db
node_modules/
images/
server/images/
data-dev/
dist/
logs/
var/
grafana-data/
prometheus/
prometheus_data/
postgres/
pgadmin
./pgadmin
pgadmin/
./pgadmin
# images/

# local env files
.env.local
.env.*.local
*.env
docker-compose.dev.yml

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.xlsx#*
package-lock.json
*package-lock.json
script-d.sh

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?